body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(25, 38, 116, 0.183);
    box-shadow: inset 0px 20px 20px 0px;
}

header{
    background-image: url(https://media.istockphoto.com/vectors/stationery-background-school-tools-seamless-pattern-art-education-vector-id1252602271?k=20&m=1252602271&s=170667a&w=0&h=YaO-h_3vEtxywiWPL1mKERnXOG6tLZ5PG0LIAPYKbiI=);

    background-attachment: fixed;
    box-shadow: inset 0px -20px 20px rgb(0 0 0 / 68%);
}

header > h1{
    background-color: rgba(0, 0, 0, 0.663);
    border-radius: 20px 10px;
    padding: 8px;
    box-shadow: -8px 6px 20px rgba(0, 0, 0, 0.683);
}

li{
    background-color: rgba(0, 0, 0, 0.663);
    padding: 8px;
    text-align: center;
    border-radius: 20px 10px;
    box-shadow: -8px 6px 20px rgba(0, 0, 0, 0.683);
    transition: 0.5s;
}


li:hover{
    background-color: rgba(0, 0, 0, 0.798);
    transition: 0.5s;
}

main{
    width: 800px;
    margin: auto;   
    margin-top: 0;
    padding-top: 0px;

    border-radius: 0px 0px 15px 15px;
}

.artigo{
    font-family: cursive;
    font-size: 25px;
    text-align: center;
    color: #add9ff;
    background-color: rgb(1, 1, 53);
    border-radius: 5px 15px;
    padding-top: 0px;
    margin-top: 0px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.246);    
}