body {
    height: 100vh;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #0b081f;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}


ul {
    list-style: none;
    list-style: none;
    padding: 10px;
}

.menu {
    display: flex;
}

.menu>li {
    margin-left: 10px;
}

.menu>li>a {
    display: block;
    padding: 10px;
    background: #9305F2;
    border-radius: 5px;
}


a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.cot:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.flex:hover {
    transition: 0.5s;
}

p {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: relative;
    text-decoration: none;
}

.iten1:hover {
    background-color: #06012636;
    transition: 0.5s;
}

.iten2:hover {
    background-color: #06012636;
    transition: 0.5s;
}

.iten3:hover {
    background-color: #06012636;
    transition: 0.5s;
}

.iten4:hover {
    background-color: #06012636;
    transition: 0.5s;
}

.none {
    text-decoration: none;
}


img {
    min-width: 25px;
    max-width: 185px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5%;
}

.iten1:hover {
    animation: colors 0.5s ease forwards;
}

.iten2:hover {
    animation: colors 0.5s ease forwards;
}

.iten3:hover {
    animation: colors 0.5s ease forwards;
}

.iten4:hover {
    animation: colors 0.5s ease forwards;
}

a:hover {
    animation: colors 0.5s ease forwards;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    min-width: 720
}

.flex>div {
    flex: 1 1 200px;
    margin: 10px;
}

main h3 {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
}

.none {
    transition: 0.5s;
}

main p {
    font-weight: bold;
}

hr {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}

article{
    margin: auto;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 100px;
}

.enter {
    padding: 2%;
    margin: auto;
    margin-left: 10em;
    margin-right: 10em;
    border-radius: 5px;
    animation-name: colors 15s ease infinite fill-mode;
    box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.233);
    background: linear-gradient(#331dbe4f, #9198e562);
    
}



.text {
    margin-left: 10em;
    margin-right: 10em;
    border-radius: 5px;
    box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.233);
    background: linear-gradient(#331dbe4f, #9198e562);
}

@keyframes colors {
    50% {
        transform: translatey(-7px);
    }

    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translate(7);
    }
}




.iten5 {
    text-align: justify;
    text-indent: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 40px;
    border: 25%;
    padding: 20px;
    color: #3b055f;
    text-align: center;
}

.iten5 {
    margin-bottom: 50px;
}

@keyframes img {
    50% {
        transform: translatey(25px);
    }

    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translate(-25);
    }
}


footer {
    background-color: #060126;
    color: aliceblue;
    height: 40px;
    text-align: center;
    padding: 10px;
    font-family: monospace;
}
/*
Style de Meus Projetos
*/
.projeto{
    width: 50em;
    height: 100vh;
    background-color: #060126;
    margin: auto;
}

.artigo{
    font-size: 30px;
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.seção{
    font-size: 20px;
    text-align: justify;
    color: aliceblue;    
    text-indent: 10px;
}

.paralax{
    background-color: rgb(36, 190, 49);
    width: 790px;
    height: 200px;
    background-image: url(img2/códigoo.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
}

.linck{
    text-decoration: none;
}

.texto:hover{
    color: bisque;
    transition: 0.5s;
    text-decoration: underline;
}

.texto{
    background-color: rgba(169, 169, 169, 0.24);
    width: 200px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px;
    border-radius: 0px 5px;
}