main {
    background-color: rgba(95, 139, 160, 0.644);
    align-items: center;
    border-left: 300px;
    border-right: 300px;
    margin: auto;
    max-width: 800px;
    padding: 1px;
    padding-top: 2%;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.233);
    position: relative;
}

article {
    margin-left: 10px;
    margin-right: 10px;
}

p {
    text-indent: 50px;
    text-align: justify;
    line-height: 120%;
    margin-top: 0%;
    text-align: justify;
}

.p1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

main>article>h3 {
    text-align: right;
    font-size: 25px;
    color: rgb(22, 26, 26);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
