header{
    background-image: url(https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg);
    background-size:  contain;
    background-position: center center;
    background-attachment: fixed;
    height: 230px;
}

main{
    box-shadow: inset 0px 7px 9px 3px rgba(0, 0, 0, 0.548);
}

@media (max-width: 899px){
    .iten5{
        font-size: 15px;
        line-height: 25px;
        
    }
    .text{
        margin: -10px;
    }
    header{
        justify-content: center;
    }
    
    .efect{
        flex-wrap: nowrap;
        font-size: 30px;
        display: flex;
        position: absolute;
        
    }
    .menu{
        margin-bottom: -40px;
        margin-left: -30px;
    }
    .none{
        width: 10px;
        height: 10px;
    }
    .grade{
        width: 70px;
    }
    li > a{
        height: 15px;
        font-size: 10px;
        position: relative;
        margin-top: 150px;
        justify-content: space-around;
    }
}

